/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* common */

body {
    /* background-color: #f6f8f9; */
    background-color: grey;
}

/* header */

header {
    padding: 20px 30px;
    background-color: white;
}

.logo {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 800;
    font-size: 35px;
}

/* main */

main {
    width: 50%;
    height: 750px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 15px;
}

.container {
    padding: 25px 50px;
}

/* buttons */

.btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: 2px solid lightgray;
    border-radius: 5px;
    font-weight: 600;
    color: lightgrey;
    background-color: white;
}

.b-1 {
     background-color: #47adf1;
     color: white;
     border: 0px;
}

hr {
    color: lightgrey;
    border-top: 2px solid lightgray;
}

/* list */

ul {
    list-style-type: none;
    font-weight: 600;
    line-height: 40px;
}

h2 {
    display: inline-block;
    vertical-align: middle;
}

.item-margin {
    margin-top: 20px;
} 

.green {
    color: lightgreen;
}

.red {
    color: red;
}