/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* common */

body {
    /* background-color: #f6f8f9; */
    background-color: grey;
}

/* temporaneo */
.container {
    width: 50%;
    height: 750px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 15px;
}

/* header */

header {
    padding: 20px 30px;
    background-color: white;
}

.logo {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 800;
    font-size: 35px;
}

/* main */

